html {
	margin:0;
	padding:0;
	border:0;
}

body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	line-height: 1.5;
	background: white;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/*:focus { outline: 0; }*/

body{
  background: #2a2b2b;
  color: #d1d9e1;
  background: url('/img/bg.jpg');
  padding: 60px 80px;

  padding-left: 60px;
}

#container_part_1 #nav {
  height: 60px;
  width: 100%;
  font-size: 16px;
  margin: 0;
  line-height: 16px;
  padding-left: 0px;
  float: right;
  font-family: 'MuseoSlab500Regular';
}
#container_part_1 #nav li {
  margin: 20px 10px;
  padding: 0 0 8px;
  float: right;
  position: relative;
  list-style: none;
}
#container_part_1 #nav a {
  text-decoration: none;
  display: block;
  padding: 8px 9px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #313032;
  font-size: 24px;
  height: 20px;
}
#container_part_1 #nav .current a,
#container_part_1 #nav li:hover > a {
  background-color: #313032;
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  color: #ffffff !important;
  border: none !important;
}
.spacer_15 {
  height: 15px;
  clear: both;
}
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container_16 .grid_4 {
  width: 220px;
}
.container_16 .grid_10 {
  width: 580px;
}
